*{
    margin: 0;
    padding: 0;
}

.menu{
    margin-top: 10px;
    float: right;
    margin-right: 200px;
}



.menu ul{
    float: right;
    display: flex;
    justify-content: right;
    align-items: right;
}

.menu ul li{
    list-style: none;
    margin: 32px;
    margin-top: 27px;
    font-size: 20px;
    position: relative;
}

.menu ul li a {
    text-decoration: none;
    color: rgb(99, 94, 94);
    font-family: Arial;
    font-weight: bold;
    transition: 0.3 ease-in-out;
}

.menu ul li::after{
    content: '';
    height: 3px;
    width: 0%;
    background: #FF3900;
    position: absolute;
    left: 0;
    bottom: -7px;
    transition: 0.5s;
}

.menu ul li:hover::after{
    width: 100%;
}

.menu ul li a:hover{
    color: #FF3900;
}

.joinus{
    margin: 40px;
    display: flex;
    background: #FF3900;
    height: 40px;
    width: 100px;
    justify-content: center;
    float: right;
    position: absolute;
    margin-top: 30px;
    left: 1120px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
}

.joinus:hover{
    background: #FF1100;
}

.joinus a {
    color: aliceblue;
    text-decoration: none;
    font-size: 22px;
    font-family: Arial;
    font-weight: bold;
    margin-top: 8px;
}

.icon{
    margin-right: 10px;
    margin-left: 40px;
    margin-top: 20px;
    height: 66px;
    width: 300px;
    float: left;
    background-image: url(logo.png);
    background-position: center;
    background-size: cover;
}



.homeimage{
    float: left;
    margin-top: 30px;
    margin-left: 130px;
    margin-right: 130px;
    background-size: cover;
}

.img2{
    height: 530px;
    width: 1080px;
}

.text1{
    position: absolute;
    font-size: 50px;
    font-family: Arial;
    font-weight: bolder;
    color: aliceblue;
    bottom: 290px;
    margin-left: 160px;
}

.text2{
    position: absolute;
    font-size: 50px;
    font-family: Arial;
    font-weight: bolder;
    color: #FF3900;
    bottom: 230px;
    margin-left: 160px;

}

.text3{
    position: absolute;
    font-size: 50px;
    font-family: Arial;
    font-weight: bolder;
    color: aliceblue;
    bottom: 230px;
    margin-left: 430px;

}


.text4{
    position: absolute;
    font-size: 50px;
    font-family: Arial;
    font-weight: bolder;
    color: #FF3900;
    bottom: 170px;
    margin-left: 160px;

}

.joinus2{
    
    display: flex;
    background: #FF3900;
    height: 50px;
    width: 130px;
    bottom: 110px;
    margin-left: 160px;
    justify-content: center;
    position: absolute;
    border-radius: 12px;
    border-color: #FF3900;
    font-size: 30px;
    color: aliceblue;
    font-weight: bolder;
}

.joinus2:hover{
    cursor: pointer;
    background: #ff1100;
    box-shadow: 0 0 5px #ff1100,
                0 0 20px #ff1100,
                0 0 40px #ff1100;
    border-color: #FF1100;
    height:60px ;
    width: 140px;
    bottom: 100px;
}

.joinus2 a{
    color: aliceblue;
    text-decoration: none;
    font-size: 27px;
    font-family: Arial;
    font-weight: bold;
    margin-top: 10px;

}

.joinus2 a:hover{
    cursor: pointer;
    margin-top: 30px;
}

.sampledots{
    font-weight: bolder;
    font-size: 100px;
    color: #c72e00;
    position: absolute;
    float: left;
    bottom: 30px;
    margin-left: 360px;
}

.rightarrow{
    position: absolute;
    display: flex;
    background: #FF3900;
    height: 60px;
    width: 80px;
    float: right;
    bottom: 250px;
    left: 1120px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    font-size: 50px;
    color: aliceblue;
    font-weight: bolder;
}

.rightarrow a{
    margin-left: 15px;
    text-decoration: none;
    color: aliceblue;
}

.leftarrow{
    position: absolute;
    display: flex;
    background: #FF3900;
    height: 60px;
    width: 80px;
    float: left;
    bottom: 235px;
    margin-left: 10px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    font-size: 50px;
    color: aliceblue;
    font-weight: bolder;
}

.leftarrow a{
    margin-left: 10px;
    text-decoration: none;
    color: aliceblue;
}

.our{
    font-size: 30px;
    height: 100px;
    width: 300px;
    float: left;
    position: absolute;
    margin-top: 760px;
    margin-left: 50px;
    font-weight: bolder;
    font-size: 60px;
}

.reach{
    font-size: 30px;
    height: 100px;
    width: 300px;
    float: left;
    position: absolute;
    margin-top: 760px;
    margin-left: 170px;
    font-weight: bolder;
    font-size: 60px;
    color: #FF1100;
}

@keyframes slideInLeft{
    from {
        transform: translateX(-200px);
    }

    to{
        transform: translateX(0);
    }
}

.orangebox1{
    animation-name: slideInLeft;
    animation-duration: 2s;
    animation-timing-function: ease-in;
    animation-iteration-count: 1;

    display: flex;
    background-color: #FF3900;
    color: #ff1100;
    height: 300px;
    width: 250px;
    float: left;
    position: absolute;
    margin-top: 860px;
    margin-left: 90px;
    border-radius: 50px;
}

.orangebox1:hover{
    cursor: pointer;
    background: #ff1100;
    box-shadow: 0 0 5px #ff1100,
                0 0 20px #ff1100,
                0 0 40px #ff1100;
    border-color: #FF1100;
    margin-top: 835px;
}

.p11{
    font-size: 80px;
    color: aliceblue;
    font-weight: bolder;
    margin-top: 60px;
    margin-left: 100px;
}

.p12{
    font-size: 40px;
    color: aliceblue;
    font-weight: bolder;
    margin-top: 200px;
    float: left;
    margin-left: -70px;
}

.orangebox2{
    animation-name: slideInLeft;
    animation-duration: 2s;
    animation-timing-function: ease-in;
    animation-iteration-count: 1;

    display: flex;
    background-color: #FF3900;
    color: #ff1100;
    height: 300px;
    width: 250px;
    float: left;
    position: absolute;
    margin-top: 860px;
    margin-left: 380px;
    border-radius: 50px;
}

.orangebox2:hover{
    cursor: pointer;
    background: #ff1100;
    box-shadow: 0 0 5px #ff1100,
                0 0 20px #ff1100,
                0 0 40px #ff1100;
    border-color: #FF1100;
    margin-top: 835px;
}

.p21{
    font-size: 80px;
    color: aliceblue;
    font-weight: bolder;
    margin-top: 60px;
    margin-left: 90px;
}

.p22{
    font-size: 40px;
    color: aliceblue;
    font-weight: bolder;
    margin-top: 200px;
    float: left;
    margin-left: -105px;
}

.orangebox3{
    animation-name: slideInLeft;
    animation-duration: 2s;
    animation-timing-function: ease-in;
    animation-iteration-count: 1;

    display: flex;
    background-color: #FF3900;
    color: #ff1100;
    height: 300px;
    width: 250px;
    float: left;
    position: absolute;
    margin-top: 860px;
    margin-left: 670px;
    border-radius: 50px;
}

.orangebox3:hover{
    cursor: pointer;
    background: #ff1100;
    box-shadow: 0 0 5px #ff1100,
                0 0 20px #ff1100,
                0 0 40px #ff1100;
    border-color: #FF1100;
    margin-top: 835px;
}

.p31{
    font-size: 80px;
    color: aliceblue;
    font-weight: bolder;
    margin-top: 60px;
    margin-left: 40px;
}

.p32{
    font-size: 40px;
    color: aliceblue;
    font-weight: bolder;
    margin-top: 200px;
    float: left;
    margin-left: -160px;
}

.orangebox4{
    animation-name: slideInLeft;
    animation-duration: 2s;
    animation-timing-function: ease-in;
    animation-iteration-count: 1;

    display: flex;
    background-color: #FF3900;
    color: #ff1100;
    height: 300px;
    width: 250px;
    float: left;
    position: absolute;
    margin-top: 860px;
    margin-left: 960px;
    border-radius: 50px;
}

.orangebox4:hover{
    cursor: pointer;
    background: #ff1100;
    box-shadow: 0 0 5px #ff1100,
                0 0 20px #ff1100,
                0 0 40px #ff1100;
    border-color: #FF1100;
    margin-top: 835px;
}

.p41{
    font-size: 80px;
    color: aliceblue;
    font-weight: bolder;
    margin-top: 60px;
    margin-left: 70px;
}

.p42{
    font-size: 40px;
    color: aliceblue;
    font-weight: bolder;
    margin-top: 200px;
    float: left;
    margin-left: -145px;
}

.wtcu{
    height: 400px;
    width: 1205px;
    background-color: #ff1100;
    float: left;
    margin-top: 600px;
    margin-left: 50px;
    border-top-left-radius: 80px;
    border-top-right-radius: 80px;
    border-bottom-left-radius: 80px;
    border-bottom-right-radius: 300px;

    background-image: linear-gradient(234deg,#ff1100 50%,orangered);
}

.wtcu:hover{
    margin-top: 580px;
    box-shadow: 0 0 5px #ff1100,
                0 0 20px #ff1100,
                0 0 40px #ff1100;
    border-width: 1px;

}

.whytochooseus{
    font-size: 50px;
    margin-left: 60px;
    color: aliceblue;
    font-weight: bolder;
    font-family: Helvetica;
    margin-top: 50px;
}

.chooseus{
    float: left;
    margin-top: 35px;
    margin-left: 100px;
    font-size: 30px;
    color: aliceblue;
}

.chooseus ul{
    list-style-type: disc;
}

.chooseimg{
    background-image: url(chooseus.png);
    height: 250px;
    width: 460px;
    float: right;
    margin-right: 180px;
    margin-top: 10px;
    background-size: cover;   
    border-radius: 30px
}

.steam{
    font-size: 60px;
    font-weight: bolder;
    color: black;
    margin-top: 80px;
    margin-left: 50px;
    float: left;
}

.steamq{
    font-size: 60px;
    font-weight: bolder;
    color: black;
    margin-top: 80px;
    margin-left: -165px;
    float: left;

}

.steamtext{
    height: 43px;
    width: 180px;
    margin-left: 21px;
    margin-bottom: -3px;
}

.steam p{
    font-size: 20px;
    font-family:  sans-serif;
    color: black;
    margin-top: 20px ;
    margin-left: 60px;
    font-weight: lighter;

}

.steamimg img{
    float: right;
    width: 450px;
    height: 200px;
    margin-right: 80px;
    margin-top: 100px;


}

.onyoutube{
    font-size: 60px;
    float: left;
    margin-top: 140px;
    font-weight: bolder;
    margin-left: 60px;

}

.ytlogo{
    float: left;
    width: 200;
    height: 40;
    margin-left: 10px;
    margin-top: 133px;
}


.vid1{

    float : left;
    margin-left: -450px;
    margin-top: 250px;

}

.vid1:hover{
    box-shadow: 0 0 35px #ff1100,
                0 0 60px #ff1100,
                0 0 60px #ff1100;

}

.vid2{

    float : right;
    margin-right: 100px;
    margin-top: 208px;

}

.vid2:hover{
    box-shadow: 0 0 35px #ff1100,
                0 0 60px #ff1100,
                0 0 60px #ff1100;

}

.knowus {
    font-family: Arial;
    font-size: 25px;
    font-weight: bold;
    color: black;
    float: right;
    margin-right: 600px;
    margin-top: 40px;
}

.workings{
    font-family: Arial;
    font-size: 25px;
    font-weight: bold;
    color: #ff1100;
    float: right;
    margin-right: 350px;
    margin-top: -29px;

}

.partners{
    float: left;
    width: 700px;
    margin-left: 70px;
    margin-top: 80px;
    font-size: 60px;
    font-weight: bolder;
}

.partners p{
    margin-left: 120px;
    margin-top: -70px;
    font-size: 60px;
    color: #ff1100;
}

.p1{
    float: left;
    margin-top: 60px;
    margin-left: 70px;
}

.p2{
    float: left;
    margin-top: -130px;
    margin-left: 475px;
}

.p3{
    float: left;
    margin-top: -165px;
    margin-left: 850px;
}